<!DOCTYPE html>
<html lang="en">
<head>
    <title>Armory Pests</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>
    <script src="/timesync/timesync.js" defer></script>
    <script type="module" src="armory-pests-game.mjs"></script>
    <script type="module" src="particles.mjs"></script>
    <script type="module" src="game.js" defer></script>
</head>
<body style="background-color:black;">
</body>
</html>
